/* --- HomePage --- */
.slider-wrapper{height:345px; width:960px;float:left;}

#contact_banner{background:url('Images/background-contact-bar-homepage.jpg') repeat-x; height:45px; width:962px;margin:3px 0 0 12px;}

div.contact_info {color:#142d69;font-size:16px;text-align:center;padding:10px 0 0 0;}
div.contact_info span {font-weight:bold;}
.Normal .rlhomepage {font-size:15px;}

#middle_center {margin-top:33px;}
#mc_left{float:left;width:610px;min-height:345px;border-right: solid 1px #c7c7c8; }
#mc_right{float:left;width:343px;min-height:345px;}
#mc_content_left{ font-size: 15px;margin: 0px 39px 0 56px; line-height:22px;color: #2d2d2d;}
#mc_content_right{ font-size: 15px;margin: 0px 39px 0 39px;line-height:22px;color: #2d2d2d;}
#mc_content_left .Normal {font-size:15px;}
#mc_content_right .newheading {font-size:18px;font-weight: bold;color: #1c3f94;text-transform: capitalize;border-bottom: 0;}
#mc_content_left .newheading {font-size:18px;font-weight: bold;color: #1c3f94;border-bottom: 0;text-transform: capitalize;}
#mc_content_left p{ margin: 15px 0 0 0;}
#mc_content_left table {margin-top:10px;}
#mc_content_left table td{ vertical-align: top; padding-right:18px;}
#mc_content_left table ul{margin:0 0 0 12px;}
#mc_content_left table td ul.bullets li {font-size: 13px;line-height: normal;list-style: disc outside url("Images/dynamic_area_bullet.gif");margin-bottom: 4px; }
#mc_content_right img { margin-bottom: 30px;}

.nivoarrowleft:hover { background: url('Images/slider-arrow-left-rollover-state.png') no-repeat;}
.nivoarrowright:hover { background: url('Images/slider-arrow-right-rollover-state.png') no-repeat;}
.homeclear {clear:both;height:30px;width: 100%;}

/* -- New Journal Edits -- */
#journalItems{margin-top:15px;}
#journalItems .author, .journalitem .authorname, .journalitem div.dnnClear i {display:none;}
.journalrow div.journalitem {margin-left:0;}
.journalrow .minidel {display:none;}
.journalitem p a { color: #1c3f94;}